body,html {
    height:100%;
    width:100%;
}

.off-canvas-wrap, .inner-wrap {
   height: 100%;
   width: 100%;
}



/* left and right nav aside menu icon */
.menu-font-icon-left {
   font-size: 1.9rem;
   padding: 0;
   color: #FFFFFF;
   position: absolute;
   display: block;
   top: 18%;
   margin-top: -0.5rem;
   left: 18.5%;
   transform: translate3d(0, 0, 0);
}

.menu-font-icon-right {
   font-size: 1.9rem;
   padding: 0;
   color: #FFFFFF;
   position: absolute;
   display: block;
   top: 18%;
   margin-top: -0.5rem;
   left: 19%;
   transform: translate3d(0, 0, 0);
}

.am-footer {
   text-align: center;
   font-family: Monospace;
   font: bold 12px/20px arial,sans-serif;
   color: #40414A;
   clear: both;
   position: absolute;
   z-index: 999;
   bottom: 0;
}

.am-main {
   position: relative;
   height: 93.5%;
   width:100%;
}

.am-map {
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
}
