/* author: Tyan Chan */

body,html {
    height:100%;
    width:100%;
}

.off-canvas-wrap,.inner-wrap {
    height:100%;   
}

.main-section i {
   font-size: 2rem
}

.menu-font-icon {
   font-size: 1.9rem;
   padding: 0;
   color: #FFFFFF;
   position: absolute;
   display: block;
   top: 20%;
   margin-top: -0.5rem;
   left: 10rem;
   transform: translate3d(0, 0, 0);
}

.profile-icon::after {
   content: "s";
   position: absolute;
   display: block;
   height: 0;
   top: 50%;
   margin-top: -0.5rem;
   left: 0.90625rem;
}