<div>
    <from>

        <div class="row">
            <div class="small-12 columns">
                <div class="small-4 columns">
                    <img ng-src="{{backend + '/' + userdetail.avatar}}" alt="Avatar" class="user-avatar"/>
                </div>
                <div class="small-6 columns">
                    <br />
                    <a href="/#/user/{{userdetail.User_id}}">{{userdetail.nickname}}</a>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="small-12 columns user-self-d">
                <lable class="text-p">self_description</lable>
                <div class="panel">
                    {{userdetail.self_description}}
                </div>
            </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <div class="small-12 columns">
              <div class="button expand" ng-click="request()">
                Request Friend
              </div>
            </div>
            <div class="small-12 columns" ng-click="dontsee()">
              <div class="button expand">
                Follow him
              </div>
            </div>
            <div class="small-12 columns" ng-click="follow()">
              <div class="button expand">
                Don't see him
              </div>
            </div>
          </div>
        </div>

    </from>
</div>
