body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#navigation {
    weight: 100%;
    display: block;
    position: absolute;
    top: 0;
    background: #000000;
    color: #FFFFFF
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
}