<div>
    <form>
        <div class="row">
            <div class="small-12 small-centered columns">

                <div class="shadow-panel">

                    <form>
                        <div class="row">



                            <br />
                            <div class="small-11 small-centered  columns">
                                <input type="password" class="bottom-input xinput" placeholder="Old Password" ng-model="oldpassword" />
                                <input type="password" class="bottom-input xinput" placeholder="New Password" ng-model="newpassword" />
                                <input type="password" class="bottom-input xinput" placeholder="NewPasswordAgain" ng-model="newpassworda" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="center-link">
                    <a class="button radius" id="ok" ng-click="change()">Ok</a>

                    <br />
                </div>

            </div>
        </div>
    </form>
</div>
