<div style="width: 100%;">
    <div class="panel chat-content">
        <div ng-repeat="message in messages track by $index" class="chat-cc">
          <div  ng-class="{chat-fself: {{message.fromUserId !== userId}}, chat-fother: {{message.fromUserId === userId}} }">
              <p>{{message.chatmessage}}</p>
            </div>

        </div>

    </div>
    <br />
    <div class="chat-footer">
        <input class="chat-input" ng-model="chatmessage" />
        <div class="button" ng-click="send()">Send</div>
    </div>
</div>
