<div>






    <div class="friend-list" ng-repeat="friend in friends">


        <div class="row">
          <div class="small-3 columns">
            <a href="#/user/{{friend.user.id}}" class="friend-item">
            <img class="friends-list-avatar" ng-src="{{backend + '/' + friend.user.detail.avatar}}" />
            </a>
          </div>
          <div class="small-3 columns">
            <a href="#/user/{{friend.user.id}}" class="friend-item">
            <h3 class="friends-nickname">{{friend.user.detail.nickname}}</h3>
            <a>
          </div>
          <div class="small-3 columns">

              <div class="button round success reqmsg-btn" ng-click="chat(friend.user.id)">chat</div>

          </div>
          <div class="small-3 columns">
            <div class="button round secondary reqmsg-btn" ng-click="delete(friend.id)">delete</div>
          </div>

        </div>

    </div>




    <div class="friend-list" ng-repeat="friend in friends">

      <a href="#/user/{{friend.user.id}}" class="friend-item">
        <div class="row">
          <div class="small-3 columns">
            <img class="friends-list-avatar" ng-src="{{backend + '/' + friend.user.detail.avatar}}" />
          </div>
          <div class="small-9 columns">
            <h3 class="friends-nickname">{{friend.user.detail.nickname}}</h3>
          </div>
        </div>
      </a>
    </div>



</div>
