<div class="control-main">
    <div class="row markpost-top">
      <div class="small-12 columns">
        <div class="small-3 columns">
          <a href="#user/{{markpost.user.id}}">
            <img ng-src="{{backend + '/' + markpost.user.detail.avatar}}" alt="Avatar" />
            </a>
        </div>
        <div class="small-9 columns">
          <br />
          <a href="#user/{{markpost.user.id}}">{{markpost.user.detail.nickname}}</a>
        </div>
      </div>
    </div>

    <div class="row markpost-title">
      <div class="small-12 columns">
        <p>{{markpost.title}}</p>
      </div>
    </div>

    <div class="row markpost-context">
      <div class="small-12 columns">
        <div class="panel">
          <img ng-src="{{backend + '/' + markpost.images.slice(3, -3)}}" />
          <p>{{markpost.context}}</p>
        </div>
      </div>
    </div>

    <div class="row markpost-footer">
      <div class="row">
        <div class="small-12 columns">
          <div class="small-12 centered columns">
            <a href="#comment/{{markPostId}}"><div class="button expand">post comment</div></a>
          </div>
        </div>
      </div>

    </div>

</div>
