<div>
    <br />
    <form>

        <div class="row">
            <div class="small-12 columns">
                <div class="row">
                    <div class="small-4 columns">
                        <select ng-model="searchType">
                            <option value="1">UserName</option>
                            <option value="2">NickName</option>
                        </select>
                    </div>
                    <div class="small-8 columns">
                        <input type="text" ng-model="searchStr" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="small-12 colums">
            <div class="row">
              <div class="small-11 small-centered columns">
                <div class="button expand" ng-click="search()">Search</div>
              </div>

            </div>
          </div>

        </div>

    </form>
</div>
