
<div>


  <div  ng-repeat="markpost in data.markposts">
    <a href="#markpost/{{markpost.id}}">
      <div class="row">
        <div class="small-12 columns panel">
          <h2>
            {{markpost.title}}
          </h2>
          <p>{{markpost.context}}</p>
        </div>
      </div>
    </a>


  </div>

  <div class="row">
    <div class="columns small-10 small-centered">

      <div ng-show="isEmpty">
        <div class="panel empty-panel">
          <p>
            Not Post
          </p>
        </div>
      </div>
    </div>
  </div>


</div>
